<div id="ri-grid" class="ri-grid ri-grid-size-3">
	<img class="ri-loading-image" src="assets/images/loading.gif"/>
	<ul>
		<li><a href="#"><img src="assets/images/recipes/1.jpeg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/2.jpeg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/3.jpeg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/4.jpeg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/5.jpg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/6.jpeg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/7.jpeg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/8.jpeg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/9.jpeg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/10.jpeg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/11.jpeg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/12.jpeg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/13.jpeg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/14.jpg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/15.jpeg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/16.jpg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/17.jpeg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/18.jpeg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/19.jpeg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/20.jpeg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/21.jpeg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/22.jpeg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/23.jpg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/24.jpeg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/25.jpg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/26.jpeg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/27.jpeg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/28.jpeg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/29.jpeg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/30.jpeg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/31.jpg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/32.jpg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/33.jpg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/34.jpg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/35.jpg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/36.jpg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/37.jpg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/38.jpg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/39.jpg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/40.jpg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/41.jpg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/42.jpg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/43.jpg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/44.jpg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/45.jpg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/46.jpg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/47.jpg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/48.jpg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/49.jpg"/></a></li>
		<li><a href="#"><img src="assets/images/recipes/50.jpg"/></a></li>
	</ul>
</div>
{{yield}}
