<div class="container-fluid">
	<section class="main">
		{{jquery-gridrotator}}
	</section>
 </div>
 <div id="overlay">
 	{{navbar-home}}
 	{{#link-to 'recipes' id='btnCook' tagName='button'}}Create your Recipe-X{{/link-to}}
 </div>
